<h2 class="m-5">Create Client</h2>

<div class="row row-cols-8 justify-content-center">
  <form [formGroup]="form" (ngSubmit)="create()">
    <div class="mb-3">
      <label for="name">Name</label>
      <input id="name" type="text" class="form-control" formControlName="name">
    </div>

    <div class="mb-3">
      <label for="email">Address Email</label>
      <input id="email" type="email" class="form-control" formControlName="email">
    </div>

    <div class="mb-3">
      <label for="cel">Cel</label>
      <input id="cel" type="text" class="form-control" formControlName="cel">
    </div>

    <div class="mb-3">
      <label for="cpf">CPF</label>
      <input id="cpf" type="text" class="form-control" formControlName="cpf">
    </div>

    <div class="mb-3">
      <label for="registryUser">Register User</label>
      <input id="registryUser" type="text" class="form-control" formControlName="registryUser">
    </div>

    <div class="text-end">
      <button type="button" class="btn btn-ligth" routerLink="/">
        Cancel
      </button>
      <button class="btn btn-primary ms-2" type="submit">
        Create Client
      </button>
    </div>
  </form>
</div>
